.appLogo {
  width: 10%;
  height: 10%;
}

.container1 {
  background-color: #5763a5;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;

  color: white;
}

.passwordManager {
  height: 250px;
  width: 200px;
  margin-left: 30px;
  align-self: center;
}
.container2 {
  background-color: #5763a5;
  margin: 10px;
  color: white;
  font-weight: bold;
  padding: 20px;
}
.textContainer {
  background-color: #454f84;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.textbox {
  background-color: #f8fafc;
  display: flex;
  flex-direction: row;
  margin: 5px;
}
.icon {
  height: 40px;
  width: ;
  padding: 8px;
}
.enterText {
}
.button1 {
  background-color: #0b69ff;
  border: 0px;
  color: white;
  font-size: 15px;
  padding: 5px;
}
.buttonBox {
  align-self: flex-end;
}
.hedderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkboxContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nopasswords {
  height: 250px;
  width: 250px;
}
.nopass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
